# Build folders
bin/
obj/

# VS Code
.vscode/

# Visual Studio
.vs/

# Rider
.idea/

# User files
*.user
*.suo

# Logs
*.log

# Temporary files
*.tmp
*.temp

# OS files
Thumbs.db
.DS_Store

# Save folder
Saves/